


h1{
    font-family: 'Style Script', cursive;
    font-weight: bold;
    font-size: 5em;
}

h2{
  font-family: 'Style Script', cursive;
}

/*------------------------HEADER AND FOOTER-------------------------------*/

.navbar-brand{
    font-size: 2em;
}

.navbar{
    font-family: 'Style Script', cursive;
    background: beige;

}

.footer{
    background: beige;
    text-align: center;
}


/*------------------------home.html----------------------------------------*/

#landing{
    margin: 50px 0 0 0;
    text-align: center;
    padding: 200px 50px 200px 50px;
    background: url("https://images.unsplash.com/photo-1565650839149-2c48a094196c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
}



/*------------------------all.html----------------------------------------*/

.all-cafe-heading{
    text-align:center;
    padding: 200px 0 0 0;
    color: white;
}

.featured-cafes{
  font-family: 'Roboto';
  width: 60%;
  margin: 100px;
  padding:50px;
  border-radius: 25px;
  background: beige;
  margin:100px auto;
}

.cafe-img{
    float: right;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


.all-cafes{
    background:url('https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80') no-repeat center fixed;
    padding-bottom: 10px;
}

/*------------------------cafe.html----------------------------------------*/

.cafe-page{
    background: url("https://images.unsplash.com/photo-1492541641671-bd75cf01a094?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") no-repeat center fixed;
    padding-bottom: 50px;
    color:beige;
}

.cafe-page-head{
    no-repeat center fixed
}

.cafe-map{
    border-top: solid 2px black;
    margin: 75px auto;
}

.cafe-details{
    margin: 50px 70px 0 70px;
    font-size:1.3em;
}

.cafe-reviews{
    margin: 50px 70px 50px 70px;
    font-size:1.3em;
}

.cafe-btn{
    margin: 0px auto;
    color:beige;
}

/*-------------------find filter----------------------*/

.find-cafe{
    background: url("https://images.unsplash.com/photo-1487266659293-c4762f375955?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    color: white;
}

.find-cafe-header{
    margin: 75px auto 0;
    text-align:center;
    padding: 100px 100px 50px;
}

.filter-form{
    margin: 0 auto;
    text-align: center;
    color:white;
}

/*--------------------------add.html---------------------------------*/

.add-cafe{
    background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
}

.add-heading{
    margin: 75px auto 0;
    text-align:center;
    padding: 100px 100px 50px;
    color: white;
}

.cafe-form{
    color: white;
    margin: 0 auto;
    font-family: 'Roboto';
    line-height: 200%;
    padding-bottom: 100px;
}