{% include "header.html" %}
<div class="cafe-page">
    <div class="cafe-map">
        <iframe src="{{ cafe.map_url }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <section class="row cafe-details">
        <div class="col-lg-6">
            <h1>{{ cafe.name }}</h1>
            <h3>{{ cafe.location }}</h3>
            {% if cafe.has_sockets == True %}
                <p>Electrical Outlets</p>
            {% endif %}
            {% if cafe.has_toilet == True %}
                <p>Restrooms</p>
            {% endif %}
            {% if cafe.has_wifi == True %}
                <p>Wifi</p>
            {% endif %}
            {% if cafe.can_take_calls == True %}
                <p>Calls Friendly</p>
            {% endif %}
            <p>Seats: {{ cafe.seats}}</p>
            <p>Coffee Price: {{ cafe.coffee_price }}</p>
        </div>
        <div class="col-lg-6">
            <img class="cafe-page-head" src="{{ cafe.img_url }}" width="100%" height="100%" alt="">
        </div>
    </section>
    <section class="row cafe-reviews">
        <div class="col-lg-6">
            <h3>Hours</h3>
            <p>Monday: 8:00AM - 5:00PM</p>
            <p>Tuesday: 8:00AM - 5:00PM</p>
            <p>Wednesday: 8:00AM - 5:00PM</p>
            <p>Thursday: 8:00AM - 5:00PM</p>
            <p>Friday: 8:00AM - 5:00PM</p>
        </div>
        <div>
            <h3>Reviews</h3>
            <p>!@#$</p>
            <p>!@#$</p>
            <p>!@#$</p>
        </div>
    </section>

</div>

{% include "footer.html" %}